<html>    
    <head>    
        <title>{{t}}</title>    
        <!-- href="/static/assets/style.css"-->    
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >    
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/emoji.css')}}" >    
        <script src="{{ url_for('static',filename='assets/twemoji.min.js')}}"></script>      
        <script src="{{ url_for('static',filename='assets/emoji.js')}}"></script>    
    </head>    
<body>    
    <h1><center>{{h}}</center></h1>    
    <ul>    
        <li><a href="/patients" class="{{ a1 }}">Patients</a></li>    
        <li><a href="/doctors" class="{{ a2 }}">Doctors</a></li>    
        <li><a href="/queries" class="{{ a3 }}">Enquiries</a></li>    
    </ul>    
    <hr>    
    {% if todos[0] %}    
    <div span="right">    
    <form action="/search"   method="GET" >    
        <table class="none" id="close">    
        <tr>    
        <td></td><td></td>    
        <td><big><b>Search Reference:</b></big></td>    
        <td><select name="refer" required>    
            <option value="name">Patient Name</option>    
            <option value="age">Age</option>
            <option value="room_no">Room Number</option>
            <option value="admission_date">Date Of Admission</option> 
            <option value="Dr_referred">Doctor Consulted</option>    
            <option value="medicine">Medicines Prescribed</option>    
        </select></td>    
        <td><input type="text" name="key" placeholder="Search Task" size="15" /></td>    
        <td><button type="submit">Search</button></td>    
        </tr>    
        </table>    
    </form>   
    <form action="/action" method="POST">    
        <table class="none">    
            <tr>    
                <td><b><big><label>Add Patient Details : </label></big></b></td>    
            </tr>    
            <tr>  
            <td><input type="text" name="pat_id" placeholder="Patient Id" /></td>    
            <td><input type="text" name="name" placeholder="Patient name" ></td>  
            <td><input type="text" name="age" placeholder="Patient age" /></td> 
            <td><input type="text" name="admission_date" placeholder="Date of Admission" /></td>    
            <td><input type="text" name="room_no" placeholder="Room number" /></td>    
            <td><input type="text" name="Dr_referred" placeholder="Doctor Referred" /></td>
            <td><input type="text" name="medicine" placeholder="Medicines Prescribed" /></td>    
            <td><input type="text" name="fees" placeholder="Fees  collected" /></td>    
            <td><button type="submit"> Add </button></td>    
            </tr>    
        </form>    
        </table>    
         
    </div>    
    <b><big>Patient List :</big></b>    
    <table>    
        <tr id="row">    
            <th class="pat_id">Patient ID</th>    
            <th class="name">Patient Name</th>    
            <th class="age">Age</th>    
            <th class="address">Address</th>    
            <th class="admission_date">Date Of Admission</th>
            <th class="discharge_date">Date Of Discharge</th>   
            <th class="room_no">Room number</th>   
            <th class="Dr_referred">Doctor Referred</th>   
            <th class="medicine">Medicines prescribed</th>   
            <th class="fees">Fees collected</th>   
         <th class="func2">Modify</th>    
        </tr>    
    {% for todo in todos %}    
        <tr class="datas">    
            <td class="pat_id">{{ todo["pat_id"] }}</td>    
            <td class="name">{{ todo["name"] }}</td>    
            <td class="age">{{ todo["age"] }}</td>    
            <td class="address">{{ todo["address"] }}</td>    
            <td class="admission_date">{{ todo["admission_date"] }}</td>
            <td class="discharge_date">{{ todo["discharge_date"] }}</td>  
            <td class="room_no">{{ todo["room_no"] }}</td>  
            <td class="Dr_referred">{{ todo["Dr_referred"] }}</td>  
            <td class="medicine">{{ todo["medicine"] }}</td>  
            <td class="fees">{{ todo["fees"] }}</td>  
            <td class="func1"><a href="./update?_id={{ todo['_id'] }}"><button type="submit">EDIT</button></a></td>    
        </tr>    
    {% endfor %}    
    </table>    
    {% else %}    
    <h4>No Patient Details!!</h4>    
    {% endif %}    
    <hr/>    
    <script>    
        
    </script>    
</body>    
</html>   